h1
{
	color: darkviolet;
}

body
{
	background-color: darkseagreen;
}

#segment
{
      
      width: 500px;
      margin:0 auto;
      background-color: darkorchid;
      text-align: center;
      align-content: center;
}

ul li
{
	list-style-type: none;
}